.content{
    max-width: 1024px;
    margin: auto;
    background: honeydew;
}
body{
    background: darkgray;
}

img{
    width: 200px;
    height: 200px;
    background: green;

}

#NamePicture{
    display: flex;
    background: red;
}
